<h1><%= @badge.course %></h1>
Where did you learn this skill?
<h3><%= @badge.website %></h3>
When did you learn this skill?
<h3><%= @badge.date %></h3>
Why did you learn this skill?
<h3><%= @badge.purpose %></h3>

