 @import "bootstrap";

 .jumbotron-fluid {
     background: orange;
    
 }
    .display-3 {
        color: white;
    }

    .lead {
        color: white;
    }

// body {
//     background-image: image-url("honey-badger.jpg");
//     background-position: center;

// }

// img {
//     height: 100%
// }