 @import "bootstrap";

 .jumbotron-fluid {
     background: rgba(128, 128, 128, 0.1);
     height: 100%;
     weight: 100%;
    margin-top: 150px;
    
 }

    h1 {
        color: orange;
    }
    .homepage {
          background-image: image-url("honey-badger.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20%;
             
    }
    .display-3{
        color: black;
    }
    .lead{
        color: black;
    }
    .bg-light{
        background-color:rgb(255, 254, 254) !important;
        opacity: 0.4;
    }
    .form-group{
        margin: 0px 60px 20px 60px;
    }

    .user-group{
        margin: 100px 100px 100px 100px;

    }
// body {
//     background-image: image-url("honey-badger.jpg");
//     background-position: center;

// }

// img {
//     height: 100%
// }